/* Button Colors */

.btn-primary {
    background-color: #F86E4E;
    border-color: #F86E4E;
    transform-style: preserve-3d;
}

.btn-primary:hover {
    background-color: #EC522F;
    border-color: #F86E4E;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
}

#heroButtonText {
    text-decoration: none;
    color: #fff;
    transform: translateZ(30px);
}

#contactButton {
    transform-style: preserve-3d;
}

/* Review Stars Color */
#stars {
    color: #547FF3;
}

/* Navigation Links Color */
.nav-link {
    color: gray;
}

.nav-link:hover {
    color:#F86E4E;
}

/* Body Links Color */
a {
    color:gray;
}

a:hover {
    color:#F86E4E;
}


/*Christine Added*/

.hours {
    max-width: 400px;
}

.phone {
    color: #F86E4E;
}

.col-md-4{
    width: 55%;
}

.col-md-8{
    width: 45%;
}

.review-section {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
   
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    text-align: left;
}

.write-review{
    height: 340px;
}

.card-body{
    padding: 2rem;
}

.write-a-review {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.row {
    place-items: center;
}

/*Vinney Added*/
#map {
    height: 40vh;
    width: 100%;
}

table {
  font-size: 24px;
  width: 100%;
}

tr {
    height: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 3%;
}

#searchForm {
    margin-left: 3%;
}

#heroImage {
    z-index: -2;
}

#heroImage2 {
    height: 75%;
    position: absolute;
    left: 5%;
    top: 12%;
    transform: translate( -50%, -50%);
    transform: translateZ(20px);
    z-index: -1;
    perspective: 200px;
}

#playButton {
    position: absolute;
    left: 41%;
    top: 45%;
    transform: translate( -50%, -50%);
    transform: translateZ(60px);
    color: #FFDED7;
    opacity: 95%;
    
}

.heroWrapper {
    position: relative;
    transform-style: preserve-3d;
}