/* Button Colors */
.btn-primary {
    height: 48px;
    background-color: #F86E4E;
    border-color: #F86E4E;
}

.btn-primary:hover {
    background-color: #EC522F;
    border-color: #F86E4E;
}

/* Review Stars Color */
#stars {
    color: #547FF3;
}

/* Navigation Links Color */
.nav-link {
    color: gray;
}

.nav-link:hover {
    color:#F86E4E;
}

/* Body Links Color */
a {
    color:gray;
}

a:hover {
    color:#F86E4E;
}


/*Christine Added*/

.hours {
    max-width: 400px;
}

.phone {
    color: #F86E4E;
}

.col-md-4{
    width: 55%;
}

.col-md-8{
    width: 45%;
}

.review-section {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
   
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    text-align: left;
}

.write-review{
    height: 340px;
}

.card-body{
    padding: 2rem;
}

.write-a-review {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.row {
    place-items: center;
}

/*Vinney Added*/
#map {
    height: 40vh;
    width: 100%;
}

table {
  font-size: 24px;
  width: 100%;
}

tr {
    height: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 3%;
}

#searchForm {
    margin-left: 3%;
}